.user-status-container {
    position:fixed; 
    top:0; 
    right:0; 
    margin-right:30px; 
    margin-top:20px; 
    height:20%; 
    width:auto;
    z-index: 9999;
}

.user-logo {
    height:60%; 
    display:block; 
    margin-left:auto; 
    margin-right:auto;
}

.username {
    font-weight:normal; 
    font-size:3vh; 
    color:white; 
    text-align:center; 
    padding-top:10%;
}

.points {
    font-weight:normal; 
    font-size:3vh; 
    color:white; 
    text-align:center;
}

.modal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.modal-dialog {
	top: 30%;
}