<div class="download-actions vertical-shadow client-online-only">
    <h4 class="videos">
    {{_ "Help for downloading videos" }}
    </h4>
    <div id="help-info">
        <a id="download-help-link" target="_new" href="http://{{ central_server_host }}/faq/installation/bittorrent/">
            {{_ "Q: How do I bulk-download videos?" }}
        </a>
    </div>
</div>   
