{% extends "updates/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load i18n_filters %}
{% load my_filters %}

{% block users_active %}active{% endblock users_active %}
{% block manage_active %}active{% endblock manage_active %}
{% block video_active %}video-active active-tab active-nav{% endblock video_active %}

{% block title %}{% trans "Update Videos" %}{{ block.super }}{% endblock %}

{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/plugins/ui.dynatree.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/updates/update_videos.css' %}" />
{% endblock headcss %}

{% block headjs %}{{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.dynatree.min.js' %}"></script>

    <script type="text/javascript">
        var URL_GET_ANNOTATED_TOPIC_TREE = "{% url 'get_annotated_topic_tree' %}?lang={{ current_language }}";
        var URL_START_VIDEO_DOWNLOADS = "{% url 'start_video_download' %}?lang={{ current_language }}";
        var URL_DELETE_VIDEOS = "{% url 'delete_videos' %}";
        var URL_CANCEL_VIDEO_DOWNLOADS = "{% url 'cancel_video_download' %}";
        var start_languagepackdownload_url = "{% url 'start_languagepack_download' %}";
        var INSTALLED_LANGUAGES_URL = "{% url 'installed_language_packs' %}"
        var AVAILABLE_LANGUAGEPACK_URL = "http://" + CENTRAL_SERVER_HOST +  "/api/i18n/language_packs/available/{{ VERSION }}";
        var DELETE_LANGUAGEPACK_URL = "{% url 'delete_language_pack' %}";
        var defaultLanguage = "{{ default_language }}";
        var language_choices = {{ language_choices|jsonify }}
    </script>

    <script type="text/javascript" src="{% static 'js/updates/update_languages.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/updates/views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/updates/models.js' %}"></script>
    <script src="{% url 'handlebars_templates' module_name='videos_update' %}"></script>


    <script>

        window.statusModel.loaded.then(function() {
            $(function() {
                update_videos_view = new UpdateVideosView();
                help_view = new HelpDownloadingVideosView();
                content_tree_view = new ContentTreeView();
                $('#container').append(window.update_videos_view.el);
                $('#container').append(window.help_view.el);
                $('#container').append(window.content_tree_view.el);
            });
        });

    </script>
{% endblock headjs %}

{% block ga_setmetrics %}
    ga('set', 'metric1', {{ video_count }});
{% endblock ga_setmetrics %}

{% block content %}

{% block subnavbar %}{{block.super}}{% endblock subnavbar %}

    <!-- this is a ugly solution to trigger "client-online-only" because template fire before DOM loading-->
    <div class="client-online-only"></div>

    <div id="container"></div>

{% endblock content %}
